/*
Using this as a sheet to make edits for the final product.

Each of these CSS elements is associated with an HTML Element, Class, or ID.
Flip between this CSS file and the HTML to see how things line up.
Experiment with deleting lines of code from the CSS to see how it affects the webpage when you refresh in the browser.
*/


.headingcontainer {
    margin: 20px 20px 20px 20px ;
    padding: 10px ;
   justify-content: right ;
   width: 960px;
   border-style: solid;
   border: black; 

}

body {
    padding: 20px;
    margin: 20px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: #333;
    background: #efeee7;
    width: 960px;
    align-content: center;
    border-style: solid;
    border: black; 

  }
  
  h1 {
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
    color: #eee;
    text-align: center;
    background: #333;
  }
  
  a {
    color: black;
  }
  
  .headingcontainer {
    width: 1024px;
    margin: 0 auto;
  }
  
  #main-bio,
  #gregpic {
    float: left;
    border: black;
    border-style: solid;
  }
  
  #main-bio {
    width: 70%;
    border: black;
    border-style: solid;
  }

  #gregpic {
    width: 200px;
    height: 200px;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: black;
    border-style: solid;
    
  }
  }
  