/*
Using this as a sheet to make edits for the final product.
*/

.bigwrap {
  position: relative;
}

#greg {
  /* padding: 20px 0; */
  padding-left: 20px;
  padding-right: 0px;
  margin-bottom: 0px;
  margin-left: 120px;
  font-size: 28px;
  color: #eee;
  text-align: left;
  background: #333;
  width: 300px;
  position: relative;
  /* margin: 0 auto; */
  /* float: left; */
}

header {
  height: 10vh;
}

#headthing {
  position: relative;
}

.headingcontainer {
 position: absolute;
 right: 10 px;
 border: 1px solid #73AD21;
}



/* 
#headname {
  width: 960px;
  text-align: center;
  text-align: left; */
  /* position: relative;
  left: 0;
  margin: 0 auto; */



body {
    padding: 20px;
    margin: 20px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: #333;
    background: #efeee7;
    /* width: 960px; */
    /* align-content: center; this is a flex-box property. Not here. */
    border-style: solid;
    border: black; 
    margin: 0 auto;
    min-height: 75vh;
    
}



  
  #main-bio,
  #gregpic {
    /* float: left; NO DON't MAKE IT FLOAT GREG YOU MAD MAN. */
    border: black;
    border-style: solid;
    background: #efeee7;
  }
  
  #main-bio {
    width: 70%;
    /* margin-left: 50%;
    margin-right: 20px; margin: 0 auto; fulfills the purpos of centering within a container. */
    border: black;
    border-style: solid;
    align-content: center;
    margin: 0 auto;
    margin-top: 0;
  }

h3 {
padding-left: 50px;

}

  #gregpic {
    width: 200px;
    height: 200px;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 0px;
    border: black;
    border-style: solid;
    float: left;
    
  }
  
  #overallcolor {
    margin: auto;
    height: 100vh;
    z-index: 4;

    background: cornflowerblue;
  }

  #copyright {
    width: 100%;
    text-align: center;
    border-style: solid;
    border-color: black;
    background: gray;
    height: 15vh;
  }