

.everything {
  width: 960px;
  height: 1060px;
border: pink;
border-style: solid;
}


body {

background-color: grey;

}





#myname {
  color: #eee;
  text-align: left;
  background: #333;
  width: 0 auto;
  margin: auto;
  
}

#buttons {
  text-align: right;
float: right;
}


#the960 {
height: 75vh;
width: 920px;
padding-left: 20px;
padding-right: 20px;
background: ivory;
text-align: center;
border: black;
border-style: solid;
margin-top: 100px;
}

#aboutmetext {
  text-align: left;
  margin: 10px;
  margin-left: 20px;
}

#gregpic {
  width: 200px;
  height: 200px;
  margin-left: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-top: 0px;
  border: black;
  border-style: solid;
  float: left;
}




#center {

  margin: 0 auto;
  
}


li{

  box-sizing: border-box;
  margin: 5px;
  padding: 5px;
  background-color: grey;
}

li,a,button {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
}

header {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 30px;

}